streamlit
hdbcli
openai
langchain_openai
PyMuPDF
python-docx
langchain-community
streamlit
hdbcli==2.26.18
openai
langchain
langchain_openai
PyMuPDF
python-docx
langchain-community
PyPDF2
python-pptx
langchain==0.1.20
langchain-core==0.1.52
langchain-community==0.0.38
langchain-openai==0.0.6
langsmith==0.1.17
pydantic==1.10.15
markdown==3.10